*.csv
pro*
*.xls
*.xlsx
*.html
*.log*
*.txt
*.png
wbgrib2
graphs
data/*
imageFiles
anlFile
*.pdf
#!final_forecasting_snow.xlsx   #If a file matches a pattern, 
#                               # but also matches a negating 
#                               # pattern defined later in the file, it will not be ignored